{% block sidebar %}
    <ul class="nav nav-list">
        <li class="nav-header">Tri par genre</li>
        <li {% if selected_genre < 1 %}class="active"{% endif %}><a href="{{ path('_index') }}">Tous <span class="badge badge-info">{{ total_nb_films }}</span></a></li>
        {% for genre in genres %}
            <li {% if genre['genre'].id == selected_genre %}class="active"{% endif %}><a href="{{ path('_filter_by_genre', { 'label': genre['genre'].label }) }}">{{ genre['genre'].label }} <span class="badge badge-info">{{ genre['nbConcernedFilms'] }}</span></a></li>
        {% endfor %}
    </ul>
{% endblock %}